<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Sistema de Inscripciones</title>
</head>
<body>
    <h1>Bienvenido al Sistema de Inscripciones</h1>
    <ul>
        <li><a href="/alumnos">Gestión de Alumnos</a></li>
        <li><a href="/profesores">Gestión de Profesores</a></li>
        <li><a href="/materias">Gestión de Materias</a></li>
        <li><a href="/grupos">Gestión de Grupos</a></li>
        <li><a href="/grupo_materia/listar">Grupo/Materia</a></li>
        <li><a href="/horarios/listar">Gestión de Horarios</a></li>
        <li><a href="">Gestión de Inscripciones</a></li>
    </ul>
</body>
</html>
